.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    background-color: rgba(var(--color-blue), 1);
    padding: 0 39px 0 14px;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo__img {
    width: 49px;
    height: 46px;
}

.logo__h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(var(--color-whiteLogo));
}

.cabecalho__logout {
    background-color: rgba(var(--color-gold), 1);
    width: 97px;
    height: 30px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(var(--color-white), 1);
}